body {
    min-height: 100vh;
    background-color: goldenrod;
}

.flex {
    display: flex;
    height: 30vh;
    width: 100%;

}

.heading-main {
    position: relative;
    top: 0;
    display: inline-block;
    background-color: cadetblue;
    padding: 7px;
    font-size: 1rem;
    border-radius: 20px 10px 0px 20px;
}

textarea {
    width: 98%;
    height: 100%;
    overflow-y: auto;
    background: transparent;
    margin: 0.5%;
    outline: none;
}

.message {
    width: 100%;
    height: 100%;
}

textarea:hover {
    background-color: ivory;
}

.div3 {
    display: flex;
    margin-left: 10px;
    font-size: 10px;
}

.flex2 {
    display: flex;
    font-size: 7px;
    gap: 20px;
    margin: 10px;
    text-align: center;
    flex-wrap: wrap;
}

input[type=submit] {
    padding: 5px 15px;
    background: transparent;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

input[type=submit]:hover {
    background-color: black;
    color: white;
}

input[type=text] {
    height: 20px;
    width: 60px;
    font-size: 1rem;
    padding: 5px 15px;
    background-color: transparent;
    outline: none;
    margin: 5px;
}

input[type=text]:hover {
    background-color: lavender;
}